## Text Preprocessing(Clean data)

In [4]:
import pandas as pd  
import string

In [5]:
df=pd.read_csv(r"C:\Users\Admin\Desktop\text preprocessing Nlp\Twitter sentiments project\Twitter Sentiments (1).csv")
df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [6]:
df=df.drop(columns=['id','label'],axis=1)
df.head()

                                               tweet
0   @user when a father is dysfunctional and is s...
1  @user @user thanks for #lyft credit i can't us...
2                                bihday your majesty
3  #model   i love u take with u all the time in ...
4             factsguide: society now    #motivation

## convert to lowercase

In [7]:
df['clean_text']=df['tweet'].str.lower()
df.head()

,tweet,clean_text
0,@user when a father is dysfunctional and is s...,@user when a father is dysfunctional and is s...
1,@user @user thanks for #lyft credit i can't us...,@user @user thanks for #lyft credit i can't us...
2,bihday your majesty,bihday your majesty
3,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,factsguide: society now #motivation,factsguide: society now #motivation

## remove of punctuations

In [8]:
def remove_punctuations(text):
  punctuations=string.punctuation
  return text.translate(str.maketrans('','',punctuations))

df['clean_text']=df['clean_text'].apply(lambda text: remove_punctuations(text))
df.head()

,tweet,clean_text
0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is so...
1,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i cant use ca...
2,bihday your majesty,bihday your majesty
3,#model i love u take with u all the time in ...,model i love u take with u all the time in u...
4,factsguide: society now #motivation,factsguide society now motivation

## remove of stopwords

In [9]:
import nltk  
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words=set(stopwords.words('english'))
def remove_stopwords(text):
  return " ".join([word for word in str(text).split() if word not in stop_words])

df['clean_text']=df['clean_text'].apply(lambda text: remove_stopwords(text))
df

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,tweet,clean_text
0,@user when a father is dysfunctional and is s...,user father dysfunctional selfish drags kids d...
1,@user @user thanks for #lyft credit i can't us...,user user thanks lyft credit cant use cause do...
2,bihday your majesty,bihday majesty
3,#model i love u take with u all the time in ...,model love u take u time urð± ðððð...
4,factsguide: society now #motivation,factsguide society motivation
...,...,...
31957,ate @user isz that youuu?ðððððð...,ate user isz youuuððððððð...
31958,to see nina turner on the airwaves trying to...,see nina turner airwaves trying wrap mantle ge...
31959,listening to sad songs on a monday morning otw...,listening sad songs monday morning otw work sad
31960,"@user #sikh #temple vandalised in in #calgary,...",user sikh temple vandalised calgary wso condem...
31961,thank you @user for you follow,thank user follow

## Remove Of Frequent Words

In [10]:
import collections
from collections import Counter
word_counter=Counter()
for text in df['clean_text'].values:
  for word in text.split():
    word_counter[word]+=1
    most_common=word_counter.most_common(10)

word_counter.most_common(10)

[('user', 17473),
 ('love', 2647),
 ('day', 2198),
 ('happy', 1663),
 ('amp', 1582),
 ('im', 1139),
 ('u', 1136),
 ('time', 1110),
 ('life', 1086),
 ('like', 1042)]

In [11]:
frequent_words=set(word for (word,count) in word_counter.most_common(3))
def remove_frequentwords(text):
  return " ".join([word for word in str(text).split() if word not in frequent_words])

df['clean_text']=df['clean_text'].apply(lambda text: remove_frequentwords(text))
df

,tweet,clean_text
0,@user when a father is dysfunctional and is s...,father dysfunctional selfish drags kids dysfun...
1,@user @user thanks for #lyft credit i can't us...,thanks lyft credit cant use cause dont offer w...
2,bihday your majesty,bihday majesty
3,#model i love u take with u all the time in ...,model u take u time urð± ðððð ð...
4,factsguide: society now #motivation,factsguide society motivation
...,...,...
31957,ate @user isz that youuu?ðððððð...,ate isz youuuððððððððð...
31958,to see nina turner on the airwaves trying to...,see nina turner airwaves trying wrap mantle ge...
31959,listening to sad songs on a monday morning otw...,listening sad songs monday morning otw work sad
31960,"@user #sikh #temple vandalised in in #calgary,...",sikh temple vandalised calgary wso condemns act
31961,thank you @user for you follow,thank follow

## remove of rare words

In [12]:
rare_words=set(word for (word,count) in word_counter.most_common()[:-10:-1])
rare_words

{'airwaves',
 'carnt',
 'chisolm',
 'ibizabringitonmallorcaholidayssummer',
 'isz',
 'mantle',
 'shirley',
 'youuuð\x9f\x98\x8dð\x9f\x98\x8dð\x9f\x98\x8dð\x9f\x98\x8dð\x9f\x98\x8dð\x9f\x98\x8dð\x9f\x98\x8dð\x9f\x98\x8dð\x9f\x98\x8dâ\x9d¤ï¸\x8f',
 'ð\x9f\x99\x8fð\x9f\x8f¼ð\x9f\x8d¹ð\x9f\x98\x8eð\x9f\x8eµ'}

In [13]:
def remove_rarewords(text):
  return " ".join([word for word in str(text).split() if word not in rare_words])

df['clean_text']=df['clean_text'].apply(lambda text: remove_rarewords(text))
df

,tweet,clean_text
0,@user when a father is dysfunctional and is s...,father dysfunctional selfish drags kids dysfun...
1,@user @user thanks for #lyft credit i can't us...,thanks lyft credit cant use cause dont offer w...
2,bihday your majesty,bihday majesty
3,#model i love u take with u all the time in ...,model u take u time urð± ðððð ð...
4,factsguide: society now #motivation,factsguide society motivation
...,...,...
31957,ate @user isz that youuu?ðððððð...,ate
31958,to see nina turner on the airwaves trying to...,see nina turner trying wrap genuine hero like ...
31959,listening to sad songs on a monday morning otw...,listening sad songs monday morning otw work sad
31960,"@user #sikh #temple vandalised in in #calgary,...",sikh temple vandalised calgary wso condemns act
31961,thank you @user for you follow,thank follow

## Remove of Special Characters

In [14]:
import re
def remove_specialcharacters(text):
  text=re.sub('[^a-zA-Z0-9\s]','',text)
  text=re.sub('\s+',' ',text)
  return text

df['clean_text']=df['clean_text'].apply(lambda text: remove_specialcharacters(text))
df

,tweet,clean_text
0,@user when a father is dysfunctional and is s...,father dysfunctional selfish drags kids dysfun...
1,@user @user thanks for #lyft credit i can't us...,thanks lyft credit cant use cause dont offer w...
2,bihday your majesty,bihday majesty
3,#model i love u take with u all the time in ...,model u take u time ur
4,factsguide: society now #motivation,factsguide society motivation
...,...,...
31957,ate @user isz that youuu?ðððððð...,ate
31958,to see nina turner on the airwaves trying to...,see nina turner trying wrap genuine hero like ...
31959,listening to sad songs on a monday morning otw...,listening sad songs monday morning otw work sad
31960,"@user #sikh #temple vandalised in in #calgary,...",sikh temple vandalised calgary wso condemns act
31961,thank you @user for you follow,thank follow

## Stemming

In [15]:
from nltk.stem import PorterStemmer
stemmer=PorterStemmer()
def stem_words(text):
  return " ".join([stemmer.stem(word) for word in text.split()])

df['clean_text']=df['clean_text'].apply(lambda text: stem_words(text))
df

,tweet,clean_text
0,@user when a father is dysfunctional and is s...,father dysfunct selfish drag kid dysfunct run
1,@user @user thanks for #lyft credit i can't us...,thank lyft credit cant use caus dont offer whe...
2,bihday your majesty,bihday majesti
3,#model i love u take with u all the time in ...,model u take u time ur
4,factsguide: society now #motivation,factsguid societi motiv
...,...,...
31957,ate @user isz that youuu?ðððððð...,ate
31958,to see nina turner on the airwaves trying to...,see nina turner tri wrap genuin hero like sham...
31959,listening to sad songs on a monday morning otw...,listen sad song monday morn otw work sad
31960,"@user #sikh #temple vandalised in in #calgary,...",sikh templ vandalis calgari wso condemn act
31961,thank you @user for you follow,thank follow

## Lematization & Pos tagging

In [22]:
from nltk import pos_tag
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V": wordnet.VERB, "J": wordnet.ADJ, "R": wordnet.ADV}

def lemmatize_words(text):
    # find pos tags
    pos_text = pos_tag(text.split())
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_text])
df['lemmatized_text'] = df['clean_text'].apply(lambda x: lemmatize_words(x))
df.head()

,tweet,clean_text,lemmatized_text
0,@user when a father is dysfunctional and is s...,father dysfunct selfish drag kid dysfunct run,father dysfunct selfish drag kid dysfunct run
1,@user @user thanks for #lyft credit i can't us...,thank lyft credit cant use caus dont offer whe...,thank lyft credit cant use caus dont offer whe...
2,bihday your majesty,bihday majesti,bihday majesti
3,#model i love u take with u all the time in ...,model u take u time ur,model u take u time ur
4,factsguide: society now #motivation,factsguid societi motiv,factsguid societi motiv

In [24]:
df.sample(frac=1).head(13)

,tweet,clean_text,lemmatized_text
21433,i am glamorous.#i_am #positive #affirmation,glamorousiam posit affirm,glamorousiam posit affirm
18608,"@user but you didn't come over yesterday, i ha...",didnt come yesterday drama costum everyth,didnt come yesterday drama costum everyth
7509,to people who know you but are not friends to ...,peopl know friend friend never never anyth,peopl know friend friend never never anyth
25924,@user finally watching @user with @user break...,final watch break leg friend,final watch break leg friend
727,$24.99-mkf collection jasmine and moira crossb...,2499mkf collect jasmin moira crossbodi bag wed...,2499mkf collect jasmin moira crossbodi bag wed...
196,#nohcarolina bull up: you will dominate your...,nohcarolina bull domin bull direct whatev want...,nohcarolina bull domin bull direct whatev want...
18306,i am thankful for love. #thankful #positive,thank thank posit,thank thank posit
18837,@user president jimmy caer leaving his religio...,presid jimmi caer leav religion due,presid jimmi caer leav religion due
7393,i can't accept that this is the world we live ...,cant accept world live peopl sick wtf wrong pe...,cant accept world live peopl sick wtf wrong pe...
7436,i've accepted that my @user order hasn't shipp...,ive accept order hasnt ship amp probabl make l...,ive accept order hasnt ship amp probabl make l...
21332,tired!!!! it's been a long day...tomorrow will...,tire long daytomorrow longer cant wait peaklha,tire long daytomorrow longer cant wait peaklha
17157,"i don't know anyone as precious as you, happy...",dont know anyon preciou happi bihday daddi bih...,dont know anyon preciou happi bihday daddi bih...
28468,i finally found a way how to delete old tweets...,final found way delet old tweet might find use...,final find way delet old tweet might find use ...

## Remove of URLs

In [25]:
text = "https://www.hackersrealm.net is the URL of the channel Hackers Realm"
import re
def remove_urls(text):
    return re.sub(r'https?://\S+|www\.\S+', '', text)
remove_urls(text)

' is the URL of the channel Hackers Realm'

In [26]:
df['clean_text']=df['clean_text'].apply(remove_urls)
df.head()

,tweet,clean_text,lemmatized_text
0,@user when a father is dysfunctional and is s...,father dysfunct selfish drag kid dysfunct run,father dysfunct selfish drag kid dysfunct run
1,@user @user thanks for #lyft credit i can't us...,thank lyft credit cant use caus dont offer whe...,thank lyft credit cant use caus dont offer whe...
2,bihday your majesty,bihday majesti,bihday majesti
3,#model i love u take with u all the time in ...,model u take u time ur,model u take u time ur
4,factsguide: society now #motivation,factsguid societi motiv,factsguid societi motiv

## Remove Of HTML Tages

In [27]:
text = "<html><body> <h1>Hackers Realm</h1> <p>This is NLP text preprocessing tutorial</p> </body></html>"
import re
def remove_html(text):
    return re.sub(r'<.*?>', '', text)
remove_html(text)

' Hackers Realm This is NLP text preprocessing tutorial '

In [28]:
df['clean_text']=df['clean_text'].apply(remove_html)
df.head()

,tweet,clean_text,lemmatized_text
0,@user when a father is dysfunctional and is s...,father dysfunct selfish drag kid dysfunct run,father dysfunct selfish drag kid dysfunct run
1,@user @user thanks for #lyft credit i can't us...,thank lyft credit cant use caus dont offer whe...,thank lyft credit cant use caus dont offer whe...
2,bihday your majesty,bihday majesti,bihday majesti
3,#model i love u take with u all the time in ...,model u take u time ur,model u take u time ur
4,factsguide: society now #motivation,factsguid societi motiv,factsguid societi motiv

## Remove Spelling Correction

In [29]:
text = 'natur is a beuty'

In [35]:
from spellchecker import SpellChecker
spell = SpellChecker()
def correct_spellings(text):
    corrected_text = []
    misspelled_words = spell.unknown(text.split())
    #print(misspelled_words)
    for word in text.split():
        if word in misspelled_words:
            corrected_text.append(spell.correction(word))
        else:
            corrected_text.append(word)
    return " ".join(corrected_text)

In [36]:
correct_spellings(text)

'nature is a beauty'